<div id="kt_body">
    <!--begin::Main-->
    <div class="post d-flex flex-column-fluid">
        <!--begin::Authentication - 404 Page-->
        <div class="d-flex flex-column flex-center flex-column-fluid p-10">
            <!--begin::Illustration-->
            <img src="assets/media/illustrations/sketchy-1/18.png" alt="" class="mw-100 mb-10 h-lg-450px" />
            <!--end::Illustration-->
            <!--begin::Message-->
            <h1 class="fw-bold mb-10" style="color: #A3A3C7">Seems there is nothing here</h1>
            <!--end::Message-->
            <!--begin::Link-->
            <a (click)="redirectToDashboard()" class="btn btn-primary">Return Home</a>
            <!--end::Link-->
        </div>
        <!--end::Authentication - 404 Page-->
    </div>
    <!--end::Main-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->

    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</div>